#colorPalette {
  color: #080705;
  color: #40434E;
  color: #702632;
  color: #912F40;
  color: #FFFFFA;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 64px 48px 1fr;
  gap: 15px;
  border: 15px solid #080705;
  height: 100vh;
  background-color: #080705;
}

header {
  grid-column: 1 / 5;
  grid-row: 1;
  display: flex;
}

header > * {
  margin: auto 20px;
  flex-grow: 1;
  text-align: center;
}

header img {
  width: 64px;
  height: 64px; 
  background-color: #FFFFFA;
}

header h1 {
  background-color: #080705;
  color: #FFFFFA;
  flex-grow: 1;
}

nav {
  grid-column: 1 / 5;
  grid-row: 2;
  display: flex;
}

nav > button {
  width: 50%;
  border: none;
  background-color: #702632;
  color: #FFFFFA;
  font-size: 2.5rem;
  letter-spacing: 4px;
  font-weight: 500;
  transition: background-color 500ms linear;
  margin: 0 15px;
}

nav > *:first-child {
  background-color: #912F40;
  margin-left: 0;
}

nav > *:last-child {
  margin-right: 0;
}

#graph {
  grid-column: 1 / 5;
  grid-row: 3;
  background-color: #FFFFFA;
}

#options {
  grid-column: 1 / 5;
  grid-row: 3;
  display: none;
  background-color: #FFFFFA;
}

#breakdown {
  grid-column: 1 / 5;
  grid-row: 3;
  display: none;
  background-color: #FFFFFA;
}

#breakdown > * {
  width: 100%;
}